.product-overview {
  display: flex;
  flex-direction: column;
}

.product-overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-overview-container-left {
  width: 60%;
  background-color: rgb(169, 169, 173);
  transition: 0.5s;
  // transition-property: background-color;
}

.product-overview-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-overview-container-left.active {
  width: 100%;
  z-index: 20;
  // transition-property: background-color 2s;
  // transition: 1s ease out;
  // transition: background-color 3s ease-out;
}

.product-overview-container-right.active {
  display: none;
}

.product-overview-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.product-overview-description-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

.product-overview-description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
}

.product-overview-description-feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}