@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.product-overview {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}

.product-overview-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product-overview-container-left {
  width: 70%;
  // background-color: rgb(169, 169, 173);
  transition: 0.5s;
  // transition-property: background-color;
}

.product-overview-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
  width: 30%;
}

.product-overview-container-left.active {
  width: 100%;
  height: 80vh;
  transition: 0.5s;
  // z-index: 10;
  // transition: 0.5s ease-in;
  // transition-property: background-color 2s;
  // transition: 1s ease out;
  // transition: background-color 3s ease-out;
}

.product-overview-container-right.active {
  display: none;
}

.product-overview-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
}

.product-overview-description-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 60%;
}

.product-overview-description-divider {
  float:left;
  width: 3px;
  background-color: black;
}

.product-overview-description-left-body {
  width: 100%;
}

.product-overview-description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
}

.product-overview-description-feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-overview-message {
  display: flex;
  height: 50px;
  font-weight: 5;
  font-style: italic;
  justify-content: center;
  align-items: center;
}