@use '../../base/mixins';




.helpful-vote {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.helpful-vote-option {
 @include mixins.button-colors;

  padding: 5px;
  width: 70px;
  display: flex;
  justify-content: center;

}
.helpful-vote-option:hover {
  cursor: pointer;
  @include mixins.button-hover;
}
