



.helpful-vote {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.helpful-vote-option {
  border: black solid 1px;
  border-radius: 10px;
  padding: 5px;
  width: 40px;
  display: flex;
  justify-content: center;
  background: rgb(196, 188, 188);
}
.helpful-vote-option:hover {
  cursor: pointer;
  background: rgb(99, 94, 94);
  color: whitesmoke;
}
