@use '../abstracts/fonts';


// CONTAINERS

@mixin scrollable-container($height) {
  max-height: $height;
  overflow: auto;
}

@mixin search-bar {
  width: 65%;
  height: 20px;
  position: relative;
  margin-bottom: 15px;
}


// FONTS

@mixin theme($size, $weight) {
  font-family: fonts.$noto-sans;
  font-size: $size;
  font-weight: $weight;
  color: rgb(0, 0, 0);
  //text-transform: uppercase;
  //font-style: italic;
}