



.star-rater {
  font-size: xx-large;
  display: flex;
  color:white;
  align-self: flex-start;
  margin-left: 14px;
}

.star:hover {
  color: black;
  cursor: pointer;
}

.filled {
  color: black;
}
