


$input-background: rgb(233, 228, 225);


.form-characteristics-voting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trait-rater-container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin: 3px 6px 3px 6px;
}
.radio-title {
  align-self: center;
  font-weight: 900;
  text-decoration: underline;
}
.trait-rater-options-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.trait-rater-option-container {

}
.trait-rater-option-radio {
  background: $input-background;
}


.trait-rater-option-label {

}


.trait-rater-loading {

}