.product-dropdown {
  padding: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 30;
  font-size: 18px;
  border: 1px solid black;
}

.product-dropdown-container {
  margin-top: 20px;
}

.product-dropdown-button {
  padding: 25px;
  font-weight: 30;
  font-size: 18px;
  border: 1px solid black;
  background-color: white;
  width: 50%;
}