@use "../abstracts/fonts";
@use "../abstracts/colors";
@use "../base/mixins";

.outfit-card-container {
  display: flex;
  flex-direction: column;
}

.outfit-title {
  height: 20px;
  // position: absolute;
}

.outfit-title-container {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
}

.Outfit-Items {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  justify-content: center;
  align-items: flex;
  width: 100%;
}

.active {
  visibility: visible;
}

.non-active {
  visibility: hidden;
}

.outfit-card-section {
  width: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: -webkit-inline-box;
  .outfit-card-section::-webkit-scrollbar {
    display: none;
  }
}

.outfit-scroll {
  overflow-x: scroll;
  width: 100%;
}

.outfit-card {
  position: relative;
  background-color: rgb(199, 171, 168);
  height: 500px;
  width: 300px;
  border-radius: 0%;
  border: solid;
  margin: 10px;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-outfit {
  height: 50px;
}

.outfit-button {
  background-color: rgb(218, 203, 202);
  height: 500px;
  width: 300px;
  border-radius: 0%;
  border: solid;
  display: flex;
}

.outfit-button-text {
  background-color: aquamarine;
  width: 100%;
  height: 100px;
  top: 50%;
  align-items: center;
}

.outfit-card-border {
  position: relative;
}

.delete-style {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: aquamarine;
  font-size: 24px;
}

.outfit-thumbnail-style {
  width: 100%;
  height: 66%;
  object-fit: fill;
}
