@use '../abstracts/fonts';
@use '../abstracts/colors';
@use '../base/mixins';

.questions-scrollable-container {
  @include mixins.scrollable-container(100vh);
}

.answers-scrollable-container answers {
  @include mixins.scrollable-container(50vh);
}

.questions-container {
  display: flex;
  flex-direction: row;
}

.questions-idContainer {
  display: flex;
  width: 5%;
}

.questions-bodyContainer {
  display: flex;
  flex-direction: column;
}

.questions-title {
  font: fonts.$fontTitle;
  font-weight: fonts.$medium;
  color: colors.$titleColor;
}

.questions-answer {
  font: fonts.$fontTitle;
  color: colors.$titleColor;
}