@use '../abstracts/fonts';
@use '../abstracts/colors';
@use '../base/mixins';
@use '../components/buttons';
@use '../base/containers';
@use '../components/forms';


// SEARCH BAR

.questions-search-bar {
  @include mixins.search-bar;
}

// SCROLLABLE CONTAINERS

.questions-scrollable-container {
  @include mixins.scrollable-container(100vh);
}

.answers-scrollable-container {
  @include mixins.scrollable-container(50vh);
}


// FIXED CONTAINERS

.questions-section-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 20px;
}

.questions-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.questions-q-container {
  display: flex;
  width: 3%;
}

.questions-question-container {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.questions-helpful-container {
  display: flex;
  margin-right: 20px;
  border-right: 1px solid;
  padding-right: 10px;
  white-space: pre-wrap;
}

.questions-addAnswer-container {
  display: flex;
  white-space: pre-wrap;
}

.answer-footnote-container {
  display: flex;
  margin-right: 20px;
  border-right: 1px solid;
  padding-right: 10px;
  margin-top: -15px;
  white-space: pre-wrap;
}


// FONTS

.questions-section-title-font {
  @include mixins.theme(18px, 700);
}

.questions-font {
  @include mixins.theme(16px, 700);
}

.answers-font {
  @include mixins.theme(16px, 400);
}

.answers-info-font {
  @include mixins.theme(12px, 400);
}

.questions-info-font {
  @include mixins.theme(12px, 700);
}

.found-helpful-font {
  @include mixins.theme(12px, 400);
  text-decoration: underline;
}

.found-helpful-font:hover {
  cursor: pointer;
}

.report-font {
  @include mixins.theme(12px, 400);
  text-decoration: underline;
}

.report-font:hover {
  cursor: pointer;
}

.reported-font {
  @include mixins.theme(12px, 700);
  color: rgb(255, 0, 0)
}


.found-question-helpful-font {
  @include mixins.theme(12px, 700);
  text-decoration: underline;
}

.found-question-helpful-font:hover {
  cursor: pointer;
  color: rgba(138, 135, 135, 0.712);
}

.add-answer-font {
  @include mixins.theme(12px, 700);
  text-decoration: underline;
}

.add-answer-font:hover {
  cursor: pointer;
}

.load-answers-font {
  @include mixins.theme(14px, 700);
}



.questions-title {
  font: fonts.$fontTitle;
  font-weight: fonts.$medium;
  color: colors.$titleColor;
}

.questions-answer {
  font: fonts.$fontTitle;
  color: colors.$titleColor;
}