@use '../base/mixins';

$font-stack: Helvetica, sans-serif;

$primary-color: rgb(63, 207, 171);
$transparent: rgba(255, 255, 255, 0);
$background: rgb(233, 228, 225);

body {
  background: $background;
}
ul {
  list-style-type: none;
}
.review-list-wrapper {
  overflow-y: auto;
  // max-height: 600px;
  height: 600px;
  width: 95%;
  background: rgb(233, 228, 225);
  border-radius: 10px;

}
.reviews-list {

  width: 80%;

}
.review-list-wrapper::-webkit-scrollbar {
  display: none;
}
.ratings-reviews-container {
  font: 100% $font-stack;
  padding: 10px;
}
.review {
  display: flex;
  flex-direction: column;
  background: rgba(221, 171, 124, 0.418);
  border: black solid 2px;
  border-radius: 20px;
  width: 100%;
  margin: 5px 10px 10px 5px;
  padding: 20px;
}

.review-rating-and-date {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}

.helpful-vote {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.review-response {
  display: flex;
  align-self: center;
  background: rgba(124, 150, 184, 0.596);
  border: whitesmoke solid 1px;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
}


.helpful-vote-option {
  border: black solid 1px;
  border-radius: 10px;
  padding: 5px;
  width: 40px;
  display: flex;
  justify-content: center;
  background: rgb(196, 188, 188);
}
.helpful-vote-option:hover {
  cursor: pointer;
  background: rgb(99, 94, 94);
  color: whitesmoke;
}


//////////////////////////////////////////////////////////////
.review-sorter {
  margin: 5px;
  padding: 10px;
}
.reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  background: rgba(47, 79, 79, 0.5);
  border-radius: 5px;
}

.review-button-container {
  align-self: center;
  display: flex;

}
.review-button {
  padding: 10px;
  margin: 10px;
}
.review-button:hover {
  cursor: pointer;
}

//////////////////////////////////////////

.review-photo {
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 15%;
  box-shadow: 1px 1px grey;
}
.review-photo:hover {
  cursor: pointer;
  border-color: black;
}

.empty-star {
  color: rgb(252, 252, 252);
}

//////////////////////////////////////////////////
:root {
  --star-size: 30px;
  --star-color: #fff;
  --star-background: rgb(19, 17, 8);
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 0px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

.ratings-reviews-container {
  display: flex;
  justify-content: center;
  background: rgba(87, 62, 25, 0.534);
  padding: 10px;
}
.ratings-data-container {
  background-color: rgba(47, 79, 79, 0.5);
  width: 15%;
  margin: 10px;
  padding: 10px;
}

////////////////////////////////////////////////////////////
.percent-rec {
  margin: 10px;
}
////BARGRAPH////////////////////
.graph-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graph-rating-value {
  align-self: flex-start;
}
.graph-rating-count {
  align-self: flex-end;
}
.graph-bar {
  width: 100%;
  height: 10px;
  background: rgba(138, 135, 135, 0.712);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.graph-bar-level {
  width: calc(var(--bar) * 100%);
  height: 6px;
  background-color: rgb(78, 78, 104);
  margin: 2px;
}
.label-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ratings-graph {
  display: flex;
  flex-direction: column;
  background: rgba(107, 91, 2, 0.959);
  padding: 5px;
}

///////////////////////////////////////////////////////////////////
///               CHARACTERISTICS
.characteristics-container {
  display: flex;
  flex-direction: column;
}
.characteristic-line-plot {
  background:
    linear-gradient(90deg, $background,
    $background 25%,

    $transparent 25%,
    $transparent 30%,

    $background 30%,
    $background 70%,

    $transparent 70%,
    $transparent 75%,

    $background 75%,
    $background 100%);
  width: 100%;
  height: 8px;
  display: flex;

}
.line-plot-marker {
  position: relative;

  align-self: center;
  left: calc(var(--score) * 1%);
  top: -1px;
}

.line-plot-value-marks {
  font-size: small;
  display: flex;
  justify-content: space-between;
}
////MODAL

.modal-background {
  background: rgba(160, 157, 157, 0.788);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  color: #ddd;
  position: relative;
  z-index: 2;

  height: 30px;
  width: 30px;
  background: #83808d73;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: xx-large;
  border-radius: 5px;
  border: solid 2px #ddd;
}
.modal-close:hover {
  color: black;
  background: radial-gradient(red, #ddd);
  border-color: black;
  cursor: pointer;
}

.photo-modal {
  width: 800px;
  height: 600px;

}

//////////////////////////////////@at-root
//REVIEW FORM

.review-form {
  height: 700px;
  width: 650px;
  background: $background;
}

.review-form-body {
  padding: 5px;
  resize: none;
  width: 100%;
  height: 100px;
}
.input-fields {
  width: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
.input {
  margin: 5px;
  width: 100%;
}
///FORM RADIO BUTTONS

.form-characteristics-voting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trait-rater-container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin: 3px 6px 3px 6px;
}
.trait-rater-options-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.radio-title {
  align-self: center;
  font-weight: 900;
  text-decoration: underline;
}