@use "../abstracts/fonts";
@use "../abstracts/colors";
@use "../base/mixins";

.related-title {
  font: fonts.$fontTitle;
  color: colors.$titleColor;
  font-weight: 300;
}

.related-title-container {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
}

.related-card-container {
  display: flex;
  flex-direction: column;
}

.Related-Items {
  // white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow: hidden;
  align-items: flex;
  justify-content: center;
  width: 100%;
}

.related-card-section {
  display: flex;
  flex-direction: row;
  width: 75%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  .related-card-section::-webkit-scrollbar {
    display: none;
  }
}

.related-card-border {
  position: relative;
}

.related-card {
  position: relative;
  background-color: rgb(218, 203, 202);
  height: 500px;
  width: 300px;
  border-radius: 30px;
  border: solid;
  border-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.star-related {
  height: 50px;
}

.active {
  align-self: center;
  visibility: visible;
}

.non-active {
  visibility: hidden;
}

.compare-style {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  font-size: 24px;
}

.thumbnail-style {
  width: 100%;
  height: 68%;
  object-fit: fill;
  border-radius: inherit;
}

//modal css

.compare-modal {
  background-color: lightpink;
  width: 400px;
  height: 250px;
}

.modal-table-container {
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-table-title {
  width: 100%;
}

.related-modal-modal-background {
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.related-modal-modal-close {
  color: #ddd;
  position: relative;
  z-index: 2;
  top: 5px;
  height: 30px;
  width: 30px;
  background: #83808d73;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: xx-large;
  border-radius: 5px;
  border: solid 2px #ddd;
}
.related-modal-modal-close:hover {
  color: black;
  background: radial-gradient(red, #ddd);
  border-color: black;
  cursor: pointer;
}

.right-compare {
  float: right;
  width: 40%;
}

.left-compare {
  float: left;
  width: 40%;
}

.feature-table {
  // display: inline-block;
  width: 100%;
}

.right-compare-mark {
  float: right;
  width: 40%;
  white-space: normal;
  text-align: center;
}

.compare-feature {
  // text-align: center;
  width: 10%;
  white-space: normal;
  text-align: center;
}

.left-compare-mark {
  float: left;
  width: 40%;
  white-space: pre;
  text-align: center;
}
