.product-image-gallery-container {
  // background-color: rgb(169, 169, 173);
  padding: 20px;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-image-gallery-main {
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  width: 70%;
}

.product-image-gallery-thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-image-gallery-thumbnail-display {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  .product-image-gallery-thumbnail-display::-webkit-scrollbar {
    display: none;
  }
}

.image-gallery-thumbnail {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  position: relative;
}

.image-gallery-thumbnail.active {
  opacity: 0.4;
}

.image-gallery-main {
  margin-left: 15px;
  max-width: 450px;
  max-height: 700px;
  border: 2px solid black;
  display: block;
  object-fit: contain;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
}
